body, html {
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    /* font-style: italic; */
    font-size: 1.25em;
}

nav {
    display: inline-block;
    padding: 5px; 
    background: lightblue; 
    font-size: 0px;
}

nav a {
    font-size: 15px;
}

nav > ul {

}

.header {
    background-color: linear-gradient(to right, rgb(58, 101, 173), rgb(162, 201, 243));
    /* background-color: lightgrey; */
    /* padding: 10px; 
    margin: auto; 
    width: 100%;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

.buffer {
    height: 10rem; 
}

